@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}


<hr />

<style>
    body {
    background-color:rgb(22,26,30, 0.9);
    color:white;
    }
</style>

<div class="row">
    <div class="LoginPag col-md-4">
        <h1>@ViewData["Title"]</h1>
        <h2>Enter your email.</h2>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" aria-required="true" />
                <label asp-for="Input.Email" style="color:black" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn btn-outline-warning">Resend</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
