html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 40px;
}



.CreateGame {
    position: relative;
    left: 2rem;
}


.RegisterPag {
    text-align: center;
    position: relative;
    left: 32rem;
}

    .RegisterPag .form-floating {
        padding: .2rem;
    }


.review {
    margin-top: 20px;
}

.Buttonregister {
    padding-left: .2rem;
    padding-right: .2rem;
}

.LoginPag {
    text-align: center;
    position: relative;
    left: 32rem;
}

    .LoginPag .form-floating {
        padding: .2rem;
    }

.aboutCreateProduct {
    background-color: rgb(22,26,30, 0.9);
    color: white;
}

.AboutGame {
    position: relative;
    left: 32rem;
    overflow: hidden;
    position: fixed;
}

    .AboutGame h1, h4 {
        text-align: center;
    }

/*
    SOBRE a PRIMEIRA PAGINA*/

.carousel-item {
    position: relative;
    bottom: 1rem;
}

.carousel-inner {
    border-radius: 2rem;
}

.carousel-indicators {
    position: relative;
    top: 19rem;
    background-color: #a9a9a9;
    margin-left: 25rem;
    margin-right: 25rem;
    border-radius: 2rem;
}

.page {
    background-color: rgb(22,26,30, 0.9);
}

.threegames {
    width: 85rem;
}

.category-div-name {
    color: #fffee7;
    margin: 0px;
    margin-top: 20px;
    position: relative;
    left: 1.3rem;
    background-color: rgba(154, 154, 154, 0.00);
}

.category-div-name2 {
    position: relative;
    left: 1.1rem;
}

.carousel {
    width: 1000px;
    height: 70px;
}

.price-search input {
    position: relative;
    left: .4rem;
}

.btnindex button {
    position: relative;
    left: 4rem;
}

.wrapper-category-carousel {
    display: grid;
    grid-template-columns: repeat(3, 335px);
    row-gap: 20px;
    column-gap: 20px;
    grid-auto-rows: minmax(100px,auto);
    margin-left: 50px;
}

.category-platform-div {
    margin-top:35px;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgba(154, 154, 154, 0.09);
    width: 200px;
    height: 800px;
    border-radius: 10px;
}

#element {
    display: block;
    max-width: 200px;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

#platform-element {
    display: block;
    max-width: 200px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 20px;
}

/*Isto modifica a cor de fundo de cada item da lista de categorias*/
.e-listview .e-list-item {
    background-color: rgba(154, 154, 154, 0.00);
}

/*Codifica a cor do texto dentro da lista de categorias*/
.e-list-text {
    color: #fffee7;
}

/*Modifica o corner-radius dos nossas checkboxes da lista de categorias*/
.e-checkbox-wrapper .e-frame, .e-css.e-checkbox-wrapper .e-frame {
    border-radius: 5px;
}

.e-listview .e-list-item.e-hover {
    background-color: rgba(229, 142, 39, 0.8);
}

.e-listview .e-list-item.e-checklist.e-focused.e-active {
    background-color: rgba(229, 142, 39, 0.8);
}

/*Define a cor do item pela qual o rato passa por cima, sem o selecionar*/
.e-listview .e-list-item.e-focused {
    color: #fffee7;
    background-color: rgba(229, 142, 39, 0.8);
}

/*Define a cor do nosso item seleciona quando voltas a passar por cima com o rato*/
.e-listview .e-list-item.e-hover.e-active.e-checklist {
    background-color: rgba(229, 142, 39, 0.8);
}

/*Modifica a cor do nosso item selecionado após clicares fora da lista de categorias*/
.e-listview .e-list-item.e-active.e-checklist {
    background-color: rgba(229, 142, 39, 0);
}

/*Modificador da cor do botão de check*/
.e-checkbox-wrapper .e-frame.e-check, .e-css.e-checkbox-wrapper .e-frame.e-check {
    background-color: rgb(229, 142, 39);
}


.meteremcoluna {
    background-color: rgba(154, 154, 154, 0.1);
    display: inline-block;
    position: relative;
    bottom: 30rem;
    left: 22rem;
    margin: 2rem;
    margin: 2rem;
    border-radius: 10px;
}




#wrap-images {
    grid-column: 2;
    grid-row: 2;
    display: inline-block;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 25px;
    grid-auto-rows: minmax(100px,auto);
}

.wrap-labels-button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2px;
    column-gap: 25px;
    grid-auto-rows: minmax(15px, 18px);
}

.game-images {
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.game-label {
    color: #fffee7;
    font-weight: 200;
    font-size: medium;
    display: block;
    margin-left: 40px;
    margin-bottom: 8px;
    margin-right: 20px;
    grid-column: 1;
    grid-row: 1;
}

.category-label {
    color: #fffee7;
    margin-left: 40px;
    font-weight: 100;
    grid-column: 1;
    grid-row: 2;
}

.purchase-button {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(229, 142, 39);
    color: #fffee7;
    border-radius: 10px;
    margin-left: 15px;
    height: 40px;
    width: 100px;
}

.preice-search-name {
    color: #fffee7;
    margin: 0px;
    margin-top: 20px;
    margin-left: 20px;
}




.bodydetails {
    background-color: #18191e;
    color: white;
    overflow-x: hidden;
}

.info {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    padding-left: 20rem;
    padding-right: 20rem;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */



.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

    .modal-content p {
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
        color: black
    }

    /* The Close Button */
    .modal-content .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        position: relative;
        bottom: 3.2rem;
    }

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.maisbut a {
    background-color: greenyellow;
    color: black;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.5rem;
}

.maisbut {
    padding-top: 1rem;
    display: inline;
    padding-left: 0rem;
}











/*
    JOGOS FAVORITOS*/

.All {
    background-color: rgb(22,26,30, 0.9);
    color: white;
}

.All2 {
    padding-left: 30rem;
    padding-right: 30rem;
    position: relative;
    top: 4rem;
}

.tryfirst {
    background-color: #a9a9a9;
    padding: .2rem;
    border-radius: 2rem;
}

    .tryfirst p {
        font-size: 2rem;
        color: black;
        text-align: center;
    }

.try button {
    position: relative;
    left: 14rem;
    top: 1rem;
}

.bordernisto {
    background-color: #a9a9a9;
    padding: .2rem;
    border-radius: .2rem;
    color: black;
}

.trying {
    color: black;
}


.RolesDiv {
    padding-left: 30rem;
    padding-right: 30rem;
    padding-top: 3rem;
}

    .RolesDiv h1 {
        text-align: center;
        color: white;
    }


    .RolesDiv .search-container {
        text-align: center;
        padding-top: 2rem;
    }

        .RolesDiv .search-container input {
            padding-right: 4rem;
            position: relative;
            border-radius: .2rem;
        }

        .RolesDiv .search-container button {
            background-color: yellowgreen;
            border-radius: .7rem;
        }

.UserRole {
    position: relative;
    left: 8.2rem;
    display: inline;
}

#User {
    display: inline;
}

#Role {
    display: inline;
    position: relative;
    left: 5rem;
}

.changeroleSelectRole {
    padding-top: 2rem;
    text-align: center;
}

.changeroleSelectRole {
    padding-left: 5rem;
    padding-right: 5rem;
}


    .changeroleSelectRole button {
        position: relative;
        top: 1rem;
    }



/*Codigo para o alerta*/
.alert {
    padding: 15px;
    background-color: #938886;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    .closebtn:hover {
        color: black;
    }

.warningLabel{
    margin-left:30px;
}

.vrdstand{
    display:inline-flex;
}