<div class="category-platform-div">
    <div id='_element' class="category-div" height="200" width="200">
        <h2 class="category-div-name">Categories</h2>
        <div>
            <input type="checkbox" id="list-01" name="categorias" value="açao">
            <label style="color:white" for="coding">Ação</label>
        </div>
        <div>
            <input type="checkbox" id="list-02" name="categorias" value="aventura">
            <label style="color:white" for="coding">Aventura</label>
        </div>
        <div>
            <input type="checkbox" id="list-03" name="categorias" value="desporto">
            <label style="color:white" for="coding">Desporto</label>
        </div>
        <div>
            <input type="checkbox" id="list-04" name="categorias" value="Fantasia">
            <label style="color:white" for="coding">Fantasia</label>
        </div>
        <div>
            <input type="checkbox" id="list-05" name="categorias" value="mmorpg">
            <label style="color:white" for="coding">MMORPG</label>
        </div>
        <div>
            <input type="checkbox" id="list-06" name="categorias" value="moba">
            <label style="color:white" for="coding">MOBA</label>
        </div>
        <div>
            <input type="checkbox" id="list-07" name="categorias" value="terror">
            <label style="color:white" for="coding">Terror</label>
        </div>
        <div>
            <input type="checkbox" id="list-08" name="categorias" value="multiplayer">
            <label style="color:white" for="coding">MultiPlayer</label>
        </div>
        <div>
            <input type="checkbox" id="list-09" name="categorias" value="singleplayer">
            <label style="color:white" for="coding">SinglePlayer</label>
        </div>
        <div>
            <input type="checkbox" id="list-10" name="categorias" value="tabuleiro">
            <label style="color:white" for="coding">Tabuleiro</label>
        </div>
    </div>
    <div id='platform-element' class="category-div" height="200" width="200">
        <h2 class="category-div-name">Platforms</h2>
        <div>
            <input type="checkbox" id="list-01" name="plataformas" value="xbox">
            <label for="coding">XBox</label>
        </div>
        <div>
            <input type="checkbox" id="list-02" name="plataformas" value="playstation">
            <label for="coding">Playstation</label>
        </div>
        <div>
            <input type="checkbox" id="list-03" name="plataformas" value="wii">
            <label for="coding">Wii</label>
        </div>
        <div>
             <input type="checkbox" id="list-05" name="plataformas" value="nintendoswitch">
            <label for="coding">Nintendo Switch</label>
        </div>
    </div>
    <div class="price-search">
        <h2 class="price-seach-name">Price</h2>
        <input id="low-price" type="number" minlength="1" maxlength="3">
    </div>
    <div>
        <button type="submit">Pesquisar</button>
    </div>
</div>
