@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/Menu";
}
<!-- aceder a biblioteca: https://localhost:7044/Home/Biblioteca-->

<html>
<body class="page">
    <!--Div que engloba a pag-->
    <div>
        <!--Secçao lateral com os meus jogos-->
        <div class="wrapper-category-carousel">
            <div class="category-platform-div">
                <div id='platform-element-game' class="category-div" height="150" width="150">
                    <h2 class="category-div-name">Os meus jogos</h2>
                    <div>
                        <label for="coding">Apex Legends</label>
                    </div>
                    <div>
                        <label for="coding">Counter-Strike</label>
                    </div>
                    <div>
                        <label for="coding">Dark Souls 3</label>
                    </div>
                    <div>
                        <label for="coding">Elden Ring</label>
                    </div>
                    <div>
                        <label for="coding">F1 2023</label>
                    </div>
                    <div>
                        <label for="coding">New World</label>
                    </div>
                    <div>
                        <label for="coding">Resident Evil 3</label>
                    </div>
                    <div>
                        <label for="coding">Resident Evil 4</label>
                    </div>
                    <div>
                        <label for="coding">Spider-Man</label>
                    </div>
                    <div>
                        <label for="coding">Valorant</label>
                    </div>
                    <div>
                        <label for="coding">World War Z</label>
                    </div>
                </div>
            </div>

            <!--Secçao dos jogos recentes-->
            <div class="row">
                <div class="col-12">
                    <h3>Jogos Recentes</h3>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="~/Images/Apex_legends.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Apex Legends</h5>
                                <p class="card-text">Apex Legends is always evolving. Play in classic 60-person Battle Royale matches, 3v3 Arenas battles, and limited-time modes and takeovers!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="~/Images/New_World.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">New World</h5>
                                <p class="card-text">New World é um emocionante MMO de mundo aberto, repleto de perigos e oportunidades, onde você traçará seu destino na ilha sobrenatural de Aeternum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="~/Images/f12022.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">F1 2022</h5>
                                <p class="card-text">Entra na nova era da Formula 1 no EA SPORTS F1 22 o videojogo oficial do 2022 FIA Formula One World Championship™.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Secçao dos jogos favoritos-->
            <div class="row">
                <div class="col-12">
                    <h3>Jogos Favoritos</h3>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="~/Images/ds3.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Dark Souls 3</h5>
                                <p class="card-text">Dark Souls continua a explorar novas fronteiras com o mais recente e ambicioso capítulo desta série aclamada pela crítica e que definiu um género. Prepara-te e abraça as trevas!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="~/Images/eldenring.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Elden Ring</h5>
                                <p class="card-text">Ergue-te, Maculado, e deixa-te guiar pela graça para brandires o poder do Elden Ring e tornares-te um Lorde Elden nas Terras Intermédias.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Secçao de todos os meus jogos-->
            <div class="row">
                <div class="col-12">
                    <h3>Os meus jogos</h3>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="~/Images/ds3.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Dark Souls 3</h5>
                                <p class="card-text">Dark Souls continua a explorar novas fronteiras com o mais recente e ambicioso capítulo desta série aclamada pela crítica e que definiu um género. Prepara-te e abraça as trevas!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="~/Images/eldenring.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Elden Ring</h5>
                                <p class="card-text">Ergue-te, Maculado, e deixa-te guiar pela graça para brandires o poder do Elden Ring e tornares-te um Lorde Elden nas Terras Intermédias.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card">
                                <img src="~/Images/Apex_legends.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Apex Legends</h5>
                                    <p class="card-text">Apex Legends is always evolving. Play in classic 60-person Battle Royale matches, 3v3 Arenas battles, and limited-time modes and takeovers!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="~/Images/New_World.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">New World</h5>
                                    <p class="card-text">New World é um emocionante MMO de mundo aberto, repleto de perigos e oportunidades, onde você traçará seu destino na ilha sobrenatural de Aeternum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="~/Images/f12022.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">F1 2022</h5>
                                    <p class="card-text">Entra na nova era da Formula 1 no EA SPORTS F1 22 o videojogo oficial do 2022 FIA Formula One World Championship™.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
